.heading{
    font-size:1.5rem;
    font-weight:600;
}
.header{
    margin-top: 20px;
}
/* .projects-container{

} */
.project-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 23%;
    
}
.project-card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}
.project-card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-card-title{
    font-size:1.25rem;
    font-weight:600;
}
.project-card-subtitle{
    font-size:0.85rem;
    color: #666666;
    margin-top: 5px;
}
.projects-container{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 1rem;
    flex-wrap: wrap;
}
.status{
    /* background-color: #6a7282;
    border-radius: 0.25rem;
    color: #101828; */
    margin-top: 5px;
    padding: 2px 6px;
}