.heading{
    font-size:1.5rem;
    font-weight:600;
}
.header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .projects-container{

} */
.project-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid rgba(27, 43, 225, 0.3);
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: all 0.5s ease;
    position: relative;
    /* width: 23%; */
    
}
.project-card::before{
      content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  /* width: 200%;
  height: 200%; */
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(27, 43, 225, 0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}
.project-card:hover{
    /* box-shadow: 0 4px 8px rgba(196, 63, 196, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    scale: 1.05; */
    transform: scale(1.05);
  box-shadow: 0 0 20px rgba(39, 21, 228, 0.5);
  cursor: pointer;

}
.project-card:hover::before{
    opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
.project-card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-card-title{
    font-size:1.25rem;
    font-weight:600;
    color: rgb(34 46 190);
}
.project-card-subtitle{
    font-size:0.85rem;
    color: #666666;
    margin-top: 5px;
}
.projects-container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}
.status{
    /* background-color: #6a7282;
    border-radius: 0.25rem;
    color: #101828; */
    margin-top: 5px;
    padding: 2px 6px;
}
.modal{
    backdrop-filter: blur(4px);
}
.project-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-n-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.search{
    flex-grow: 1;
}
.filter{
    width: 10%;
}