.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 20%;
}
.heading{
    font-size:1.5rem;
    font-weight:600;
}
.card-title{
    font-size:0.85rem;
}
.card-value{
    font-size:1.875rem;
    font-weight:700;
}
.stats-cards{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 1rem;
}
